<ion-header>
  <ion-toolbar>
    <ion-title text-center>poke-favorites</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col size-xs="4" *ngFor="let favId of arrayFavoritos">
        <ion-img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{favId}}.png"></ion-img>
        <ion-buttons>
          <ion-button slot="start" size="small" color="primary" href="/tabs/(pokefavorites:pokestats/{{favId}})">
            <ion-icon slot="icon-only" name="information-circle-outline"></ion-icon>
          </ion-button>
          <ion-button slot="end" size="small" color="danger" (click)="removeFav(favId)">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
