<ion-tabs>

  <ion-tab tab="pokelist">
    <ion-router-outlet name="pokelist"></ion-router-outlet>
  </ion-tab>
  <ion-tab tab="pokestats">
    <ion-router-outlet name="pokestats"></ion-router-outlet>
  </ion-tab>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="pokelist" href="/tabs/(pokelist:pokelist)">
      <ion-icon name="list"></ion-icon>
      <ion-label>Lista</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="pokestats" href="/tabs/(pokestats:pokestats)">
      <ion-icon name="stats"></ion-icon>
      <ion-label>Stats</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
