<ion-tabs>

  <ion-tab tab="pokelist">
    <ion-router-outlet name="pokelist"></ion-router-outlet>
  </ion-tab>
  <ion-tab tab="pokefavorites">
    <ion-router-outlet name="pokefavorites"></ion-router-outlet>
  </ion-tab>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="pokelist" href="/tabs/(pokelist:pokelist)">
      <ion-icon name="list"></ion-icon>
      <ion-label>Lista</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="pokefavorites" href="/tabs/(pokefavorites:pokefavorites)">
      <ion-icon name="heart"></ion-icon>
      <ion-label>Fav</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
