<ion-header>
  <ion-toolbar>
    <ion-title text-center>Poke lista</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content slot="start">
  <ion-list lines="inset">
    <ion-item *ngFor="let pokemon of lista?.results; let indice = index" href="/tabs/(pokelist:pokestats/{{indice+1}}/{{pokemon.name}})">
      <ion-avatar slot="start">
        <img src="{{urlAvatar}}{{indice+1}}.png">
      </ion-avatar>
      <ion-label>{{pokemon.name | titlecase}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
